{
  "zk": "ZK",
  "refreshSeconds": 30,
  "ttl": 30,
  "domain": "{{mesos_dns_domain_internal}}",
  "port": 53,
  "resolvers": ["8.8.8.8"],
  "timeout": 5,
  "email": "root.mesos-dns.{{mesos_dns_domain_internal}}",
  "IPSources": ["host", "netinfo"]
}